Flask==0.10.1
twisted==14.0.0
sqlalchemy==0.9.4
netifaces>=0.8
graypy==0.2.9
docopt==0.6.1
alembic==0.6.5
PyDispatcher==2.0.3
requests==2.3.0
python-glanceclient==0.16.1
python-keystoneclient==1.6.0
python-neutronclient==2.6.0
python-novaclient==2.26.0
pysubnettree==0.23
Flask-HTTPAuth==2.4.0
Flask-Script==2.0.5
psycopg2==2.4.5
websocket-client==0.30.0
pillow==2.9.0
vnc2flv==20100207