Flask==0.10.1
twisted==14.0.0
sqlalchemy==0.9.4
docopt==0.6.1
alembic==0.6.5
PyDispatcher==2.0.3
requests==2.3.0
python-keystoneclient==3.10.0
python-novaclient==8.0.0
Flask-HTTPAuth==2.4.0
Flask-Script==2.0.5
psycopg2==2.4.5
websocket-client==0.30.0
pillow==2.9.0
vnc2flv==20100207
websockify==0.7.0
docker==2.4.2
envparse==0.2.0
