user {{ nginx_user }};
worker_processes {{ nginx_worker_processes }};
pid {{ nginx_pid }};

{% if nginx_worker_rlimit_nofile %}
worker_rlimit_nofile {{ nginx_worker_rlimit_nofile }};
{% endif %}
events {
    worker_connections {{ nginx_worker_connections }};
    # multi_accept on;
{% if nginx_conn_proc_method %}
    use {{ nginx_conn_proc_method }};
{% endif %}
}

http {
    sendfile on;
    tcp_nopush on;
{% if nginx_tcp_nodelay %}
    tcp_nodelay {{ nginx_tcp_nodelay }};
{% endif %}
    keepalive_timeout 65;
{% if nginx_types_hash_max_size %}
    types_hash_max_size {{ nginx_types_hash_max_size }};
{% endif %}

{% if nginx_production %}
    server_tokens off;
    server_name_in_redirect off;
{% else %}
    server_tokens on;
    server_name_in_redirect on;
{% endif %}
{% if nginx_reset_timedout_connection %}
    reset_timedout_connection {{ nginx_reset_timedout_connection }};
{% endif %}

    log_format  main        '$time_local|$remote_addr|$server_protocol|$request_method|'
                            '$host|$request_uri|$status|$body_bytes_sent|$request_time|'
                            '$upstream_response_time|$upstream_addr|$upstream_status|'
                            '$http_referer|$http_x_forwarded_for|$http_user_agent';

    access_log  /var/log/nginx/access.log  main;

    server_names_hash_bucket_size 64;
{% if nginx_variables_hash_max_size %}
    variables_hash_max_size {{ nginx_variables_hash_max_size }};
{% endif %}
{% if nginx_map_hash_bucket_size %}
    map_hash_bucket_size {{ nginx_map_hash_bucket_size }};
{% endif %}

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;
{% if nginx_gzip %}
    gzip {{ nginx_gzip }};
{% endif %}
{% if nginx_gzip_types %}
    gzip_types {{ nginx_gzip_types }};
{% endif %}
{% if nginx_directio %}
    directio {{ nginx_directio }};
{% endif %}
    gzip_disable "msie6";
{% if nginx_limit_conn_zone %}
    limit_conn_zone {{ nginx_limit_conn_zone }};
{% endif %}
{% if nginx_limit_req_zone %}
    limit_req_zone {{ nginx_limit_req_zone }};
{% endif %}
{% if nginx_push_stream_shared_memory_size %}
    push_stream_shared_memory_size {{ nginx_push_stream_shared_memory_size }};
{% endif %}
{% if nginx_set_real_ip_from %}
    set_real_ip_from {{ nginx_set_real_ip_from }};
    real_ip_header X-Forwarded-For;
{% endif %}
{% if nginx_ssl_session_cache %}
    ssl_session_cache {{ nginx_ssl_session_cache }};
{% endif %}
{% if nginx_ssl_session_timeout %}
    ssl_session_timeout {{ nginx_ssl_session_timeout }};
{% endif %}

    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*;
}
